@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;}

body{
	background-color: #ffffff;
}

canvas {
	border:3px solid black !important;
}

.layers {
	position: relative;
	top: 15%;
	left: 0;
	width: 55%;
	height: 95%;
	border: 2px solid transparent !important;;
}

#pose-result {
	font-size: 100px;
	text-align: right;
	padding: 20px 30px 0 0;
	width: 55%;
	height: 600px;
}


